// header
@headerColor: #D1E9FF;
@headerBg: #486071;
//
@padding: 20px;
// button
@btnColor: #FFF;
@btnColorBg: #5688b3;
@btnColorBorder: #2f353e;
@btnHoverColor: #FFF;
@btnHoverColorBg: #4d7aa1;
@btnHoverColorBorder: #2f353e;
@btnRadius: .14rem;
//
@uiBgColor: rgba(0,0,0,.6);

/////
//font-family: 'Cousine', ;
//font-family: 'Nova Mono', ;
/////

body {
	margin: 0;
	overflow: hidden;
	font-family: Cousine, monospace;
	font-size: 13px;
	color: #cccccc;
	background-color: #050505;
}

* {
	user-select: none;
	-webkit-user-select: none;
}

h1, h2, h3, h4 {
	line-height: 140%;
	text-transform: uppercase;
}

h1 {
	margin: 0 0 5px;
	font-family: 'Nova Mono', monospace;
	font-size: 22px;
	text-align: center;
	label[for^=tabs-] {
		box-shadow: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
h2 { font-size: 16px; }
h3 { font-size: 14px; }

input.form-control[type=range] {
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, select, option {
	color: #333;
}

.form-group {
	margin-bottom: .5rem;
	&:last-child { margin-bottom: 0; }
}

.form-control, .btn {
	border-radius: @btnRadius;
}
.form-control-sm {
	padding: .05rem .5rem;
	line-height: 100%;
}

.btn {
	transition: background-color 200ms ease-in-out, padding 200ms ease-in-out;
}

.button(@fore,@background,@border){
	color: @fore;
	background-color: @background;
	background: linear-gradient(to bottom, @background 0%, darken(@background,5%) 100%);
	border-color: @border;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(255,255,255,0.6);
	&:hover {
		color: @fore;
		background-color: @btnHoverColorBg;
		background: linear-gradient(to bottom, @background 5%, darken(@background,10%) 100%);
		border-color: darken(@border,5%);
	}
}

.btn-primary { .button(#e3ffff, #0072ff, #394857); }
.btn-secondary { .button(@btnColor, @btnColorBg, @btnColorBorder); }

.form-left {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	>* {
		float: left;
		vertical-align: middle;
		&:first-child:nth-last-child(1) {
			width: 100%;
		}
		&:first-child:nth-last-child(2),
		&:first-child:nth-last-child(2) ~ * {
			&:nth-child(1) { width: 70%; }
			&:nth-child(2) { width: 30%; }
		}
		&:first-child:nth-last-child(3),
		&:first-child:nth-last-child(3) ~ * {
			&:nth-child(1) { width: 30%; }
			&:nth-child(2) { width: 40%; }
			&:nth-child(3) { width: 30%; }
		}
	}
}

#ui {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%/3;
	min-width: 320px;
	max-width: 100%;
	background-color: @uiBgColor;
	transition: opacity 200ms linear;
	.tab-title { margin: 1px 0; }
	>.tab {
		padding: 0;
		/*.tab>* {
			&:first-child { margin-top: 10px; }
			&:last-child { margin-bottom: 10px; }
		}*/
	}
	@media (max-width:320px) {
		min-width: 100%;
	}
}
.touch #ui {}
.no-touch #ui {
	opacity: 0.1;
	&:hover { opacity: 1; }
}

#render {
	display: block;
	position: relative;
	.render, .cancel {
		position: relative;
		z-index: 1;
	}
	.cancel {
		display: none;
		span {
			font-size: 12px;
			&:before { content: '('; }
			&:after { content: ' seconds left)'; }
		}
	}
	.progress {
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		z-index: 0;
		width: 0;
		height: 100%;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 100%);
		border-radius: 2px;
	}
	&.rendering {
		.render { display: none; }
		.cancel, .progress { display: block; }
	}
}

#constants {
	margin-bottom: 10px;
	.form-group { margin-bottom: 3px; }
}

#constant-animation {
	.form-group { margin-bottom: 3px; }
	#sines, #offsets {
		width: 50%;
		float: left;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

#track { width: 100%; }

#image {
	img {
		max-width: 100%;
		margin-bottom:10px;
		image-rendering: pixelated;
	}
	&.zoom {
		position: relative;
		height: 200px;
		overflow: hidden;
		img {
			max-width: none;
			position: relative;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%) scale(4,4);
		}
	}
}

#stats {
	position: absolute;
	right: 0;
	top: 0;
}

label[for^=tabs-]{
	display: block;
	margin-bottom: 0;
	padding: 2px @padding 0;
	color: @headerColor;
	background-color: @headerBg;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	//box-shadow: 0 0 16px darken(@headerBg,10%) inset;
	background: linear-gradient(to right, @headerBg 0%, darken(@headerBg,10%) 100%);
}
input.tabs {
	display: none;
	+*{
		position: relative;
		max-height: 0;
		padding: 0 @padding;
		overflow: hidden;
		transition: max-height 200ms ease-in-out, padding 200ms ease-in-out;
	}
	&:checked+*{
		max-height: 1000px;
		padding: 10px @padding;
		overflow: visible;
	}
}

label[data-info] {
	position: relative;
	&:before {
		content: attr(data-info);
		position: absolute;
		right: -@padding;
		top: 10px;
		z-index: 2;
		display: block;
		visibility: hidden;
		width: 200px;
		padding: 10px 10px 10px 0;
		opacity: 0;
		font-size: 11px;
		color: #FFBD00;
		border-radius: 2px;
		background-color: @uiBgColor;
		transform: translateX(100%) translateY(-50%);
		box-shadow: 0 0 0 1px #000000, 1px 0 0 1px #000000, 1px 0 0 2px #FFBD00;
		transition: opacity 200ms 0ms linear, visibility 0ms 200ms linear;
	}
	&:hover:before {
		visibility: visible;
		opacity: 1;
		transition: opacity 200ms 1000ms linear, visibility 0ms 1000ms linear;
	}
}
///////////////////////////////////////////////////////

input.imitate {
	@size: 16px;
	display: none;
	+label {
		position: relative;
		width: 100%!important;
		&:after {
			.form-control;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: @size;
			height: @size;
			background-color: #EEE;
			text-align: center;
			color: #333;
			font-size: @size;
			line-height: @size;
			font-weight: bold;
			box-shadow: 2px 2px 4px rgba(0,0,0,0.3) inset;
		}
	}
	&:checked+label:after { content: 'V'; }
}

///////////////////////////////////////////////////////

input[type=color] {
	&, *, &::-webkit-color-swatch-wrapper, &::-webkit-color-swatch {
		//content: attr(value);
		padding: 0;
		box-shadow: -2px -2px 8px rgba(0,0,0,0.3) inset, 2px 2px 8px rgba(255,255,255,0.5) inset;
	}
	&::-webkit-color-swatch-wrapper, &::-webkit-color-swatch {
		border: 0;
	}
	/*&::-webkit-color-swatch {
		content: attr(value);
	}*/
	/*&::-webkit-color-swatch-wrapper {

	}*/
}

///////////////////////////////////////////////////////

input[type=text], input[type=number], input[type=color], option, select {
	&, &.form-control, &:disabled {
		background-color: #DAE8EC;
		border-radius: @btnRadius;
		box-shadow: 2px 4px 16px rgba(0,0,0,0.2) inset;
		color: #222;
	}
}

// range
input[type=range] {
	@rangeBtnW: 10px;
	@rangeBtnH: 20px;
	@rangeTrackH: 6px;
  -webkit-appearance: none;
  width: 100%;
	height: @rangeBtnH;
	background-color: transparent;
	border: 0;
	transform: translateX(1px);
	&, * {
		outline: none;
		cursor: pointer;
	}
	// track
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: @rangeTrackH;
		margin: 0;
		background-color: darken(@btnColorBg,20%);
		border-radius: @btnRadius;
		border: 0;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.3) inset;
		&:hover { background-color: darken(@btnHoverColorBg,20%); }
	}
	// thumb
	&::-webkit-slider-thumb {
		height: @rangeBtnH;
		width: @rangeBtnW;
		margin: 0;
		transform: translateY(-(@rangeBtnH - @rangeTrackH)/2);
		border: 1px solid @btnColorBorder;
		border-radius: @btnRadius;
		background: @btnColorBg;
		cursor: pointer;
		-webkit-appearance: none;
		&:hover { background-color: @btnHoverColorBg; }
	}
	// number
	+input[type=number], +input[type=text] {
		position: relative;
		z-index: 1;
		border: 1px solid @btnColorBg;
	}
}
